<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "OnlineStore",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ site.url | jsonify }},
  "logo": {{ '/assets/PWindows.svg' | absolute_url | jsonify }},
  "parentOrganization": {
    "@type": "Organization",
    "name": "PWindows",
    "url": {{ site.data.site.main_url | jsonify }}
  }
}
</script>
{% if page.layout == 'product' and page.coins and page.category %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": {{ page.title | jsonify }},
  "description": {{ page.description | jsonify }},
  "image": {{ page.image | absolute_url | jsonify }},
  "sku": {{ page.product_id | jsonify }},
  "brand": {"@type":"Brand","name":"PWindows"},
  "offers": [
    {"@type":"Offer","price":{{ page.price_usd | jsonify }},"priceCurrency":"USD","availability":"https://schema.org/PreOrder","url":{{ page.url | absolute_url | jsonify }}},
    {"@type":"Offer","price":{{ page.price_myr | jsonify }},"priceCurrency":"MYR","availability":"https://schema.org/PreOrder","url":{{ page.url | absolute_url | jsonify }}},
    {"@type":"Offer","price":{{ page.price_cny | jsonify }},"priceCurrency":"CNY","availability":"https://schema.org/PreOrder","url":{{ page.url | absolute_url | jsonify }}}
  ]
}
</script>
{% endif %}
